@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #F9F9F9;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.btn {
    background: #FFF;
    color: #333;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn img{
    width: 20px;
    margin-left: 10px;
}

.btn.dark-btn {
    background: #2E86AB;
    color: #fff;
}

@media (max-width: 1200px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn {
        padding: 14px 22px;
    }
}